<p>framework 123</p>
<div id="counter"></div>
<div id="add-to-cart"></div>
<script type="module" src="{{ 'vite-counter.js' | asset_url }}" defer></script>
<script type="module" src="{{ 'vite-add-to-cart.js' | asset_url }}" defer></script>
